@import url('globalVariables.css');

#status
{
    text-align: center;
    font-size: var(--status-font-size);
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    margin: 25px;
}
#board
{
    display: grid;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid #000;
    grid-template-columns: repeat(var(--columns), 1fr);
}
.tile
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(calc(75vw / var(--columns)), calc(75vh / var(--rows)));
    height: min(calc(75vw / var(--columns)), calc(75vh / var(--rows)));
    font-size: min(calc(45vw / var(--columns)), calc(45vh / var(--rows)));
    font-weight: normal;
    font-family: "Noto Sans", sans-serif;
    background-color: #f0f0f0;
    border: 1px solid #000;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    transition: background-color 0.5s;
}
#board.column-mode:not(.loading) .column:hover .tile:not(.last-move), #board:not(.loading) .tile:not(.last-move):hover
{
    background-color: #ddd;
}
.tile.last-move
{
    background-color: #00d0ff;
}
.tile.disabled
{
    cursor: not-allowed;
}
.tile.winning
{
    cursor: default;
    background-color: yellow;
}
#board.loading .tile
{
    cursor: wait;
}
*
{
    cursor: var(--cursor);
}
